@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/HelveticaBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica-BoldOblique.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/HelveticaRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/HelveticaLight.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/Futura PT/FuturaPT-Bold.woff") format("woff"), url("../fonts/Futura PT/FuturaPT-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  color: #07142e;
  background: #f6f6f6;
}

.button {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  color: #fdfdfd;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid #1e5bb6;
  background: #1e5bb6;
  border-radius: 7px;
  padding: 18px 0;
  width: 100%;
  max-width: 320px;
  text-transform: uppercase;
}
.button:hover {
  background: #226ede;
}
.button--effect {
  position: relative;
  overflow: hidden;
}
.button--effect:hover {
  transform: none;
}
.button--effect::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 200%;
  transform: translateY(-50%);
  background: linear-gradient(to right top, transparent 29%, rgba(255, 255, 255, 0.8) 29% 32%, transparent 32% 35%, rgba(255, 255, 255, 0.8) 35% 40%, transparent 42% 45%, rgba(67, 66, 66, 0.7) 45% 55%, transparent 55% 58%, rgba(255, 255, 255, 0.8) 58% 61%, transparent 61%);
  opacity: 0.3;
  left: 0;
  top: 0;
  transition: 0.8s;
  z-index: 3;
  animation: toRight 6s infinite;
}

.input {
  width: 100%;
  padding: 20px 40px;
  border-radius: 10px;
  border: 1px solid rgba(7, 20, 46, 0.4);
  background: rgba(255, 255, 255, 0.8);
  color: rgba(7, 20, 46, 0.4);
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input:focus {
  outline: none;
}
.input::-moz-placeholder {
  color: rgba(7, 20, 46, 0.4);
}
.input::placeholder {
  color: rgba(7, 20, 46, 0.4);
}

.input-group {
  width: 100%;
  position: relative;
}

.politics {
  display: flex;
  gap: 15px;
  cursor: pointer;
  justify-content: center;
}
.politics a {
  color: #07142e;
}
.politics__input {
  display: none;
}
.politics__input:checked + .politics__ok::before {
  display: block;
}
.politics__text {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #07142e;
  text-align: left;
}
.politics__ok {
  min-width: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #1E5BB6;
  border-radius: 2px;
  position: relative;
  background: transparent;
}
.politics__ok::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 9px;
  background: url("../img/ok.svg") no-repeat center/contain;
  display: none;
}

.logo {
  position: relative;
}
.logo__title {
  font-family: "FuturaPT", sans-serif;
  font-weight: 700;
  font-size: 61px;
  color: #1e5bb6;
}
.logo__title span {
  font-size: 38px;
  line-height: 120%;
  color: #27bb62;
  letter-spacing: -10px;
}
.logo__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #102770;
  position: absolute;
  left: -10px;
  top: 23px;
  transform: rotate(270deg);
}

.video-bg {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.section {
  max-width: 1920px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.section__title {
  font-family: "GothamPro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;
  color: #07142e;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}
.section__title--center {
  text-align: center;
  margin: 0 auto;
}
.section__title span {
  color: #ab3bef;
  font-size: 50px;
  font-weight: 900;
}

.container {
  max-width: 1600px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.row--center {
  align-items: center;
}

@keyframes toRight {
  0% {
    left: -100%;
  }
  85% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes noise-anim {
  0% {
    clip: rect(31px, 9999px, 97px, 0);
  }
  5% {
    clip: rect(68px, 9999px, 42px, 0);
  }
  10% {
    clip: rect(69px, 9999px, 46px, 0);
  }
  15% {
    clip: rect(86px, 9999px, 91px, 0);
  }
  20% {
    clip: rect(92px, 9999px, 72px, 0);
  }
  25% {
    clip: rect(95px, 9999px, 76px, 0);
  }
  30% {
    clip: rect(44px, 9999px, 94px, 0);
  }
  35% {
    clip: rect(50px, 9999px, 7px, 0);
  }
  40% {
    clip: rect(52px, 9999px, 69px, 0);
  }
  45% {
    clip: rect(45px, 9999px, 58px, 0);
  }
  50% {
    clip: rect(16px, 9999px, 83px, 0);
  }
  55% {
    clip: rect(58px, 9999px, 22px, 0);
  }
  60% {
    clip: rect(28px, 9999px, 31px, 0);
  }
  65% {
    clip: rect(6px, 9999px, 70px, 0);
  }
  70% {
    clip: rect(11px, 9999px, 57px, 0);
  }
  75% {
    clip: rect(53px, 9999px, 97px, 0);
  }
  80% {
    clip: rect(71px, 9999px, 74px, 0);
  }
  85% {
    clip: rect(9px, 9999px, 73px, 0);
  }
  90% {
    clip: rect(72px, 9999px, 9px, 0);
  }
  95% {
    clip: rect(11px, 9999px, 95px, 0);
  }
  100% {
    clip: rect(51px, 9999px, 56px, 0);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(41px, 9999px, 36px, 0);
  }
  5% {
    clip: rect(80px, 9999px, 16px, 0);
  }
  10% {
    clip: rect(22px, 9999px, 69px, 0);
  }
  15% {
    clip: rect(55px, 9999px, 32px, 0);
  }
  20% {
    clip: rect(17px, 9999px, 97px, 0);
  }
  25% {
    clip: rect(48px, 9999px, 22px, 0);
  }
  30% {
    clip: rect(22px, 9999px, 45px, 0);
  }
  35% {
    clip: rect(91px, 9999px, 69px, 0);
  }
  40% {
    clip: rect(95px, 9999px, 75px, 0);
  }
  45% {
    clip: rect(48px, 9999px, 52px, 0);
  }
  50% {
    clip: rect(27px, 9999px, 39px, 0);
  }
  55% {
    clip: rect(10px, 9999px, 14px, 0);
  }
  60% {
    clip: rect(25px, 9999px, 53px, 0);
  }
  65% {
    clip: rect(13px, 9999px, 74px, 0);
  }
  70% {
    clip: rect(80px, 9999px, 40px, 0);
  }
  75% {
    clip: rect(24px, 9999px, 31px, 0);
  }
  80% {
    clip: rect(29px, 9999px, 6px, 0);
  }
  85% {
    clip: rect(70px, 9999px, 27px, 0);
  }
  90% {
    clip: rect(68px, 9999px, 66px, 0);
  }
  95% {
    clip: rect(40px, 9999px, 42px, 0);
  }
  100% {
    clip: rect(13px, 9999px, 27px, 0);
  }
}
.header {
  padding: 13px 20px 0;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header__block {
  display: none;
}
.header__logo {
  margin-bottom: 40px;
}
.header__nav {
  display: flex;
  gap: 48px;
}
.header__nav__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #07142e;
  text-decoration: none;
  padding-bottom: 15px;
}
.header__nav__link--active {
  border-bottom: 3px solid #1e5bb6;
}
.header__wrap {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__tel {
  display: flex;
  align-items: flex-end;
  gap: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #07142e;
  text-decoration: none;
}
.header__button {
  width: 240px;
  background: transparent;
  color: #102770;
  border: 2px solid #102770;
  border-radius: 7px;
}
.header__button:hover {
  background: #102770;
  color: #f6f6f6;
}
.header__burger {
  cursor: pointer;
  display: none;
  width: 34px;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
}
.header__burger__line {
  width: 100%;
  height: 4px;
  background: #1e5bb6;
  border-radius: 2px;
}
.header__burger__line--2 {
  width: 20px;
  align-self: flex-end;
}

.main {
  padding: 120px 20px 230px;
  background: url("../img/main/incweb.png") no-repeat right bottom;
  position: relative;
  overflow: hidden;
}
.main__cat {
  position: absolute;
  left: calc(50% + 80px);
  bottom: -220px;
}
.main__box {
  max-width: 770px;
}
.main__title {
  font-family: "GothamPro", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 120%;
  letter-spacing: -0.05em;
  color: #07142e;
  margin-bottom: 100px;
}
.main__title span {
  font-size: 75px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  color: #27bb62;
  transform: translateY(15px);
  display: inline-block;
}
.main__row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
}
.main__item {
  display: flex;
  align-items: center;
  border: 1px solid #309dda;
  border-radius: 25px;
  padding: 6px 20px 6px 6px;
  gap: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
}
.main__item--dark {
  border-color: #1e5bb6;
}

.quest {
  margin-bottom: 120px;
}
.quest__container {
  background: rgba(48, 157, 218, 0.1);
  border-radius: 7px;
  padding: 40px;
  position: relative;
}
.quest__img {
  position: absolute;
  left: 120px;
  bottom: 0;
  display: flex;
}
.quest__title {
  font-family: "GothamPro", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 3px;
}
.quest__text {
  font-family: "GothamPro", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: right;
  color: #ab3bef;
  margin-bottom: 35px;
}
.quest__button {
  margin-left: auto;
  display: block;
}
.quest__box {
  background: rgba(48, 157, 218, 0.1);
  border-radius: 7px;
  padding: 48px 160px;
}

.advantages {
  margin-bottom: 120px;
  position: relative;
  background: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}
.advantages__title {
  text-align: center;
  margin-bottom: 86px;
}
.advantages__row {
  display: grid;
  grid-template-columns: 280px 280px 280px;
  gap: 80px;
  position: relative;
  z-index: 2;
}
.advantages__card__num {
  width: 40px;
  height: 40px;
  background: #94e7fb;
  font-weight: 700;
  font-style: italic;
  font-size: 16px;
  line-height: 120%;
  color: #07142e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.advantages__card__title {
  font-family: "FuturaPT", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #102770;
  margin-bottom: 26px;
}
.advantages__card__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}
.advantages__video {
  width: 440px;
  height: 380px;
  -o-object-fit: contain;
  object-fit: contain;
  right: 80px;
  bottom: 110px;
  left: auto;
  top: auto;
}

.modal {
  position: fixed;
  z-index: 199;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 17, 37, 0.4), rgba(0, 17, 37, 0.4));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  overflow: auto;
}
.modal--active {
  opacity: 1;
  visibility: visible;
}
.modal__container {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 100%;
  justify-content: center;
  padding: 20px;
}

.menu {
  position: fixed;
  z-index: 199;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  align-items: flex-start;
  justify-content: flex-end;
  background: linear-gradient(0deg, rgba(0, 17, 37, 0.4), rgba(0, 17, 37, 0.4));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  overflow: hidden;
}
.menu--active {
  opacity: 1;
  visibility: visible;
}
.menu--active .menu__dialog {
  transform: none;
}
.menu__dialog {
  transition: 0.3s;
  transform: translateX(100%);
  width: 100%;
  max-width: 350px;
  background: #fdfdfd;
  height: 100%;
  padding: 20px;
}
.menu__content {
  box-shadow: 0 3px 4px 0 rgba(30, 91, 182, 0.3);
  background: rgba(48, 157, 218, 0.1);
  height: 100%;
  padding: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__close {
  width: 20px;
  cursor: pointer;
}
.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin: 30px 0;
}
.menu__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  color: #102770;
  text-decoration: none;
}
.menu__link--active {
  padding-bottom: 15px;
  border-bottom: 3px solid #1e5bb6;
}
.menu__tel {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #07142e;
  text-decoration: none;
}

.notfound {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}
.notfound__link {
  position: relative;
}
.notfound__link::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: -1px;
  top: -1px;
  width: 40%;
  height: 60%;
  background: white;
  transition: 0.5s;
}
.notfound__link::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: -1px;
  bottom: -1px;
  width: 30%;
  height: 70%;
  background: white;
  transition: 0.5s;
}
.notfound__link:hover::after {
  width: calc(100% + 1px);
  height: calc(100% + 1px);
}
.notfound__link:hover::before {
  width: calc(100% + 1px);
  height: calc(100% + 1px);
}
.notfound__link a {
  display: block;
  padding: 8px 20px;
  background: black;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #ffffff;
}
.notfound__text {
  font-size: 100px;
  position: relative;
  width: 400px;
  text-align: center;
  margin-bottom: 60px;
}
.notfound__text:before {
  content: attr(data-text);
  position: absolute;
  left: calc(50% - 2px);
  transform: translateX(-50%);
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
.notfound__text:after {
  content: attr(data-text);
  position: absolute;
  left: calc(50% + 2px);
  transform: translateX(-50%);
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
  .section__title {
    font-size: 40px;
  }
  .section__title span {
    font-size: 36px;
  }
  .advantages {
    padding-bottom: 320px;
    padding-top: 60px;
    margin-bottom: 60px;
  }
  .advantages__card {
    width: 255px;
  }
  .advantages__card__num {
    margin-bottom: 20px;
  }
  .advantages__card__title {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .advantages__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 845px;
    margin: auto;
  }
  .advantages__video {
    width: 340px;
    height: 300px;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
  }
  .quest {
    margin-bottom: 80px;
  }
  .quest__title {
    font-size: 30px;
  }
  .quest__text {
    font-size: 26px;
  }
  .quest__box {
    padding: 40px 80px;
  }
  .quest__container {
    padding: 30px;
  }
  .quest__img {
    left: 50px;
  }
  .main {
    background: url("../img/main/incwebC.png") no-repeat right bottom;
    padding: 80px 20px 120px;
  }
  .main__cat {
    left: calc(50% + 120px);
    bottom: -140px;
  }
  .main__item {
    padding: 5px 15px 5px 5px;
    font-size: 15px;
    gap: 10px;
  }
  .main__item img {
    width: 32px;
  }
  .main__row {
    gap: 20px 15px;
  }
  .main__title {
    font-size: 58px;
    margin-bottom: 60px;
  }
  .main__title span {
    font-size: 52px;
    transform: translateY(10px);
  }
  .header__wrap {
    gap: 25px;
  }
  .header__tel {
    gap: 15px;
  }
  .header__logo {
    margin-bottom: 20px;
  }
  .header__nav {
    gap: 30px;
  }
  .header__nav__link {
    padding-bottom: 10px;
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 800px;
  }
  .button {
    font-size: 14px;
    padding: 12px 0;
    border-radius: 5px;
  }
  .logo__title {
    font-size: 38px;
  }
  .logo__title span {
    font-size: 24px;
    letter-spacing: -5px;
  }
  .logo__text {
    font-size: 14px;
    top: 12px;
    left: -5px;
  }
  .section__title {
    font-size: 28px;
    margin-bottom: 60px;
  }
  .section__title span {
    font-size: 23px;
  }
  .advantages {
    padding-bottom: 240px;
    padding-top: 40px;
  }
  .advantages__video {
    width: 250px;
    height: 220px;
  }
  .advantages__title {
    margin-bottom: 35px;
  }
  .advantages__card {
    width: 180px;
  }
  .advantages__card__num {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  .advantages__card__title {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .quest {
    margin-bottom: 60px;
  }
  .quest__img {
    position: static;
    justify-content: center;
    transform: translateY(20px);
  }
  .quest__container {
    padding: 20px;
  }
  .quest__box {
    padding: 40px 20px 0;
  }
  .quest__title {
    font-size: 23px;
    text-align: center;
  }
  .quest__text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 17px;
  }
  .quest__button {
    max-width: 260px;
    margin: auto;
  }
  .main {
    padding: 75px 20px 255px;
    background: url("../img/main/incwebM.png") no-repeat center bottom;
  }
  .main__cat {
    left: calc(50% - 122px);
    bottom: -85px;
  }
  .main__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__item--2, .main__item--4 {
    align-self: flex-end;
    flex-direction: row-reverse;
    padding: 5px 5px 5px 15px;
  }
  .main__row {
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
    max-width: 315px;
  }
  .main__title {
    font-size: 35px;
    margin-bottom: 30px;
  }
  .main__title span {
    font-size: 30px;
    transform: translateY(6px);
  }
  .menu {
    display: flex;
  }
  .header {
    padding: 0 20px;
  }
  .header__row {
    align-items: flex-end;
  }
  .header__logo {
    margin-bottom: 0;
  }
  .header__nav {
    display: none;
  }
  .header__wrap {
    display: none;
  }
  .header__block {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .header__burger {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .advantages__row {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .advantages__card {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
  .advantages__card__num {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 575px) {
  .quest {
    padding: 0;
  }
}