//FuturaPT
@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/Futura PT/FuturaPT-Bold.woff') format('woff'),
    url('../fonts/Futura PT/FuturaPT-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

//GothamPro
@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro/GothamPro-Black.woff') format('woff'),
    url('../fonts/GothamPro/GothamPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro/GothamPro-Bold.woff') format('woff'),
    url('../fonts/GothamPro/GothamPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

//Helvetica
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/Helvetica-Bold.woff') format('woff'),
    url('../fonts/Helvetica/Helvetica-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/Helvetica-BoldOblique.woff') format('woff'),
    url('../fonts/Helvetica/Helvetica-BoldOblique.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/Helvetica-Regular.woff') format('woff'),
    url('../fonts/Helvetica/Helvetica-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/Helvetica-Light.woff') format('woff'),
    url('../fonts/Helvetica/Helvetica-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}