
@import "1440"

@import "991"

@media screen and (max-width: 767px)
  .advantages
    &__row
      flex-direction: column
      align-items: center
      gap: 30px
    &__card
      width: 100%
      max-width: 300px
      text-align: center
      &__num
        margin-left: auto
        margin-right: auto

@media screen and (max-width: 575px)
  .quest
    padding: 0